## 법정동별 단속현황 수

In [20]:
import pandas as pd

dong = ['중곡동', '군자동', '능동', '구의동', '광장동', '화양동', '자양동']
df2201 = [227, 49, 218, 402, 241, 117, 402]
df2202 = [284, 91, 268, 331, 195, 106, 307]
df2203 = [266, 91, 326, 329, 212, 103, 334]
df2204 = [293, 78, 580, 321, 365, 195, 386]
df2205 = [269, 75, 375, 308, 298, 158, 400]
df2206 = [77, 11, 87, 111, 55, 20, 54]
df2207 = [56, 8, 88, 110, 23, 17, 95]
df2208 = [17, 6, 56, 138, 24, 9, 56]
df2209 = [5, 1, 53, 64, 3, 0, 54]
df2210 = [4, 1, 55, 75, 14, 0, 33]
df2211 = [2, 3, 43, 76, 10, 2, 53]
df2212 = [11, 1, 69, 84, 0, 5, 35]
df2301 = [263, 20, 98, 138, 30, 12, 102]
df2302 = [194, 14, 54, 108, 23, 12, 103]

data = pd.DataFrame(dong, columns=['법정동'])
data['2201'] = df2201
data['2202'] = df2202
data['2203'] = df2203
data['2204'] = df2204
data['2205'] = df2205
data['2206'] = df2206
data['2207'] = df2207
data['2208'] = df2208
data['2209'] = df2209
data['2210'] = df2210
data['2211'] = df2211
data['2212'] = df2212
data['2301'] = df2301
data['2302'] = df2302

data

,법정동,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2301,2302
0,중곡동,227,284,266,293,269,77,56,17,5,4,2,11,263,194
1,군자동,49,91,91,78,75,11,8,6,1,1,3,1,20,14
2,능동,218,268,326,580,375,87,88,56,53,55,43,69,98,54
3,구의동,402,331,329,321,308,111,110,138,64,75,76,84,138,108
4,광장동,241,195,212,365,298,55,23,24,3,14,10,0,30,23
5,화양동,117,106,103,195,158,20,17,9,0,0,2,5,12,12
6,자양동,402,307,334,386,400,54,95,56,54,33,53,35,102,103

In [21]:
data.to_csv('월별_법정동_단속현황수.csv', index=False, encoding='cp949')

In [22]:
data['총 단속현황'] = data['2201']+data['2202']+data['2203']+data['2204']+data['2205']+data['2206']+data['2207']+data['2208']+data['2209']+data['2210']+data['2211']+data['2212']+data['2301']+data['2302']

In [23]:
data

,법정동,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2301,2302,총 단속현황
0,중곡동,227,284,266,293,269,77,56,17,5,4,2,11,263,194,1968
1,군자동,49,91,91,78,75,11,8,6,1,1,3,1,20,14,449
2,능동,218,268,326,580,375,87,88,56,53,55,43,69,98,54,2370
3,구의동,402,331,329,321,308,111,110,138,64,75,76,84,138,108,2595
4,광장동,241,195,212,365,298,55,23,24,3,14,10,0,30,23,1493
5,화양동,117,106,103,195,158,20,17,9,0,0,2,5,12,12,756
6,자양동,402,307,334,386,400,54,95,56,54,33,53,35,102,103,2414

In [24]:
data.to_csv('총 단속현황 포함.csv', index=False, encoding='cp949')